@model IEnumerable<Grades.Models.Subject_>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name_)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var subject in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => subject.name_)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@subject.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@subject.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@subject.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
